# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Builds
dist/
build/

# Coverage
coverage/
.nyc_output/

# Misc
*.tgz
